<!-- Done By Adeeb Imam -->
<!-- Student Number 23033904 -->
<!-- Module Web Development And Databases -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="{{url_for('static', filename = 'styles.css')}}" type = "text/css">
    <title>WH|booking</title>
</head>
<body>

    <!-- Section 1: Navbar -->
    <nav class="navbar">
        <div class="logo"><span style="color:var(--heading-color);">W</span>orld<span style="color:var(--heading-color);">H</span>otels</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('homepage')}}">Home</a></li>
            <li><a href="{{ url_for('hotels')}}">Hotels</a></li>
            <li><a href="{{ url_for('accounts')}}">Account</a></li>
            <li><a href="{{ url_for('contact')}}">Contact</a></li>
            <li><a href="{{ url_for('about')}}">About</a></li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flash-messages-login">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <div class="admin-container">
        <h1>View Customers</h1>
        
        <!-- Table to display customers -->
        <table>
            <thead>
                <tr>
                    <th>Guest ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer[0] }}</td>
                        <td>{{ customer[1] }}</td>
                        <td>{{ customer[2] }}</td>
                        <td>{{ customer[3] }}</td>
                        <td>
                            <a href="{{ url_for('view_customer_details', customer_id=customer[0]) }}">View Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <!-- Section 4: Footer -->
    <footer class="footer">
        <p>2023 WorldHotels. All rights reserved.</p>
    </footer>

</body>
</html>




